<div class="fragment_container" >
    <div class="fc_header">
        <div class="fts_block">
            <i class="fts_icon" id="icon"></i>
            <i class="fts_arrow" id="icon_arrow"></i>
        </div>
    </div>
    <TypeTable id="table" class="fc_content flex_table">
        <div class="wgt_table_view">
            <div id="header" class="wgt_table_view_row wgt_header"></div>
            <RecyclerView class="sm_table unselect" id="list"></RecyclerView>
        </div>
    </TypeTable>
</div>