<div class="main_container">
    <nav class="top_panel">
        <div class="company-name">Hello DayZ</div>
        <div class="el_menu">
            <div class="elm_item active">Menu A</div>
            <div class="elm_item">Menu A</div>
            <div class="elm_item">Menu A</div>
            <div class="elm_item">Menu A</div>
            <div class="elm_item">Menu A</div>
            <div class="elm_item">Menu A</div>

        </div>
    </nav>
    <div class="center_panel">
        <div id="fragment_main_content" style="height: 100%">

        </div>
    </div>
    <div class="bottom_panel" id="bottom_console"></div>
</div>
